@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/Merriweather-Black.ttf') format('truetype');
    font-weight: normal; /* Font weight */
    font-style: normal; /* Font style */
}


body {
    font-family: 'Merriweather', sans-serif;
    background-color: #afafaf;
    color: #dfdfdf;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    font-family: 'Merriweather', sans-serif;

    color: #111111;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: #000000;
    padding: 20px;
}
/* .book-slider{
    margin-bottom: 90px;
}
.book-slider {
    
    text-align: center;
    margin: 20px 0;
    margin-bottom: 70px;
  
}

.book-slider h2 {
    margin-bottom: 20px;
} */
.title{
    font-family: 'Merriweather', sans-serif;
    color: #fff !important;
}

/* .book-slider .carousel {
    position: relative; 
}

.book-slider .carousel-inner {
    display: flex;
    align-items: center; 
   
}
.carousel-inner .carousel-item.active {
    display: flex;
    
  } 

.carousel-inner .carousel-item {
    
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes the full width of the carousel 
}

.book-slider .carousel-item {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
} */
h2 {
    color: white;
    text-align: center; /* Center text */
    margin: 0 auto; /* Zero margin on top and bottom, auto margin on left and right */
    width: fit-content; /* Optional: Adjust width to fit content */
}

.book {
    font-family: 'Merriweather', sans-serif;
    width: 180px;
    height: 240px;
    padding: 10px;
    color: rgb(209, 209, 209);
    border: 1px solid rgb(39, 39, 39);
    /* -moz-box-shadow: 7px 7px 6px -4px rgba(46, 46, 46, 0.71);
box-shadow: 7px 7px 6px -4px rgba(51, 51, 51, 0.71); */
    /* box-shadow: 0px 0px 8px #000000; */
    text-align: left;
    margin: 10px;
    flex: 0 0 auto;
    
    background-image: url("../images/book1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* .book-slider{
    padding: 10px;
    margin: 0 10px;
    flex: 0 0 auto;
}
.book-slider .carousel-item {
    display: flex; 
    justify-content: center;
  } */

.carousel-control-prev, .carousel-control-next {
    color: #b4b4b4;
    text-shadow: none;
}

@media (max-width: 768px) {
    .book-slider .book {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .book-slider .book {
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}


.navbar .navbar-brand {
    pointer-events: none;
}

.navbar .nav-link {
    text-decoration: none;
} 

/* Customizing the navbar background color */
.navbar {
    background-color: #070707 !important; /* Replace with your desired color */
}

/* Customizing the navbar link colors */
.navbar .navbar-nav .nav-link {
    color: #eeeeee !important; /* Replace with your desired color */
}

/* Customizing the navbar link hover state */
.navbar .navbar-nav .nav-link:hover {
    color: #eeeeee !important; /* Replace with your desired color */
}

/* Customizing the navbar brand color */
.navbar .navbar-brand {
    color: #eeeeee !important; /* Replace with your desired color */
}
.form-control{
    background-color: black !important;
    color: white !important;
}
.form-control :focus{
    color: white !important;
    background-color: black !important;
    border-color: rgb(39, 39, 39) !important;
    box-shadow: 0 0 0 0.25rem rgba(19, 19, 19, 0.25) !important;
}
.form-control::placeholder {
    color: white !important;
  }
  
.btn{
    
    height: 40px;
    width: 40px;
    border: none !important;
    background-color: rgb(0, 0, 0) !important;

}
/* Customizing the navbar toggler icon color */
