body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: #f5f5f5;
    padding: 20px;
}

.book-slider {
    text-align: center;
    margin: 20px 0;
}

.book-slider h2 {
    margin-bottom: 20px;
}

.book-slider .carousel {
    position: relative;
}

.book-slider .carousel-inner {
    display: flex;
    align-items: center;
   
}

.book-slider .carousel-item {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.book-slider .book {
    width: 180px;
    height: 240px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px #ccc;
    text-align: left;
    margin: 0 10px;
    flex: 0 0 auto;
}

.carousel-control-prev, .carousel-control-next {
    color: #000;
    text-shadow: none;
}

@media (max-width: 768px) {
    .book-slider .book {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .book-slider .book {
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

.navbar .navbar-brand {
    pointer-events: none;
}

.navbar .nav-link {
    text-decoration: none;
}
