@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/Merriweather-Black.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.woff2') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}




body {
    font-family: 'Merriweather', sans-serif;
    background-color: #000000 !important;
    color: #dfdfdf;
    margin: 0;
    padding: 0;
}
header {
    
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
main {
    background-color: #000000;
    padding: 20px;
}

/* NAVBAR CUSTOMS */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    font-family: 'Satoshi', sans-serif;
    color: #111111;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
.navbar .navbar-brand {
    pointer-events: none;
}
.navbar .nav-link {
    text-decoration: none;
} 
.navbar {
    background-color: #070707 !important; 
}
.navbar .navbar-nav .nav-link {
    color: #eeeeee !important; 
}

.navbar .navbar-nav .nav-link:hover {
    color: #eeeeee !important; 
}
.navbar .navbar-brand {
    color: #eeeeee !important; 
}

.form-control{
    
    background-color: black !important;
    color: white !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.form-control :focus{
    color: white !important;
    background-color: black !important;
    /* box-shadow: none !important; */
    /* border-color: rgb(39, 39, 39) !important; */
    box-shadow: 0 0 0 0.25rem rgb(0, 0, 0) !important;
}
.form-control::placeholder {
    color: white !important;
  }
#navbarNav {
   
    display: flex !important; 
    flex-direction: column !important; 
    align-items: flex-end !important; 
    height: 100% !important; 
}
.dropdown-menu{
    background-color: black !important;
    
}
.dropdown-item{
    color: white !important;
    
}
.dropdown-item:hover{
    color: rgb(0, 0, 0) !important;
    background-color: #A4D4B4 !important;
    
}

#navbtn{

    height: 30px;
    width: 75px;
    padding: 2px;
    font-family: 'Satoshi', sans-serif !important;
    border: 1px solid #A4D4B4 !important;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0) !important;
}
#navbtn1{

    height: 30px;
    width: 75px;
    padding: 2px;
    font-family: 'Satoshi', sans-serif !important;
    border: 1px solid #A4D4B4 !important;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0) !important;
}
#navbtn:hover{

    height: 30px;
    width: 75px;
    padding: 2px;
    font-family: 'Satoshi', sans-serif !important;
    border: 1px solid #000000 !important;
    color: rgb(0, 0, 0) !important;
    background-color: #A4D4B4 !important;
}
#navbtn1:hover{

    height: 30px;
    width: 75px;
    padding: 2px;
    font-family: 'Satoshi', sans-serif !important;
    border: 1px solid #000000 !important;
    color: rgb(0, 0, 0) !important;
    background-color: #A4D4B4 !important;
}
#searchbtn{
        border: none !important;
    color: #A4D4B4 !important;
    background-color: rgb(0, 0, 0) !important;
}

/* SEARCH BAR CUSTOMS */


.search-box {
    
    margin-right: 90px !important;
    display: flex !important;
    align-items: center !important; 
}
.search-box input,
.search-box button {
     flex: 1 !important; 
}
.search-box button {
    flex-grow: 0 !important;
    margin-left: -1px !important; 
}


/* BOOK & CAROUSEL CUSTOMS */

.title{
    font-family: 'Merriweather', sans-serif;
    color: #fff !important;
}
h2 {
    color: white;
    text-align: center; 
    margin: 0 auto; 
    width: fit-content; 
}
h1,h2,h3,h4,h5{
    font-family: 'Merriweather', sans-serif;
}
.book {
    font-family: 'Merriweather', sans-serif;
    width: 180px;
    height: 240px;
    padding: 10px;
    color: rgb(209, 209, 209);
    text-align: left;
    margin: 10px;
    flex: 0 0 auto;

    background-image: url("../images/book2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.book-wrapper{
    display: flex;
    justify-content: center;
}
.book-slider{
    padding-bottom: 60px;
}
.carousel-control-prev, .carousel-control-next {
    color: #b4b4b4;
    text-shadow: none;
}

@media (max-width: 768px) {
    .book-slider .book {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .book-slider .book {
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

/* LANDING PAGE CUSTOMS */

#ci1, #ci2, #ci3, #ci4 {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.landing-text{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.979);
}

/* FOOTER CUSTOMS */

footer { 
    font-family: 'Satoshi', sans-serif !important;
    margin-top: 30vh;
    height: 40vh;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}

/* Styles for List Titles */
ul.list-unstyled li:first-child {
    font-size: 21px; /* Size of the list title */
    font-weight: bold; /* Bold for emphasis */
    margin-bottom: 8px; /* Spacing after the title */
    color: #ffffff; /* Color of the list title */
}

/* Styles for List Items */
ul.list-unstyled li {
    font-size: 16px; /* Smaller text size for list items */
    padding-bottom: 8px; /* Reduced padding between list items */
}

/* Social Icons and Pointer Styles */
.fa, .cursor-pointer {
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

.fa {
    font-size: 21px;
    margin: 5px 10px;
}

/* Positioning for Social Icons */
.social {
    position: relative;
    left: -10px;
}

/* Adjusted Padding for Footer Sections */
div.col-md-3 {
    padding-left: 30px; /* Slight rightward shift */
}

/* Utility Class for Removing Padding */
.pb-0 {
    padding-bottom: 0 !important;
    background-color: black !important;
}
.bottom-bar{
    font-family: 'Merriweather', sans-serif;
    font-size: 10px;
    
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin-top: 50px;
    flex-direction: column; /* Stacks the items vertically */
    text-align: center; 
    bottom: 10px;
}

/* ####MODAL CUSTOMS######### */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    /* background-color: rgba(255, 255, 255, 1); /* Adjust the alpha value to make it fully opaque if needed */
    height: 550px !important;
    width: 1100px !important;
    display: flex !important;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/* Rest of your CSS remains unchanged */

    
* {
	box-sizing: border-box;
} 
.modal-content-wrap {
    max-width: 500px;
    margin: 0 auto;
    position: relative; 
  }

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #A4D4B4;
	background-color: #000000;
	color: #A4D4B4;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
button:hover {
	border-radius: 20px;
	border: 1px solid #A4D4B4;
	background-color: #A4D4B4;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
    
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #000000 !important;
	border: 1px solid #ffffff !important;
    color: white !important;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
input:hover {
	background-color: #000000 !important;
	border: 1px solid #A4D4B4 !important;
    color: white !important;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
input:focus {
	background-color: #A4D4B4!important;
	border: 1px solid #A4D4B4 !important;
    color: rgb(0, 0, 0) !important;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.fpwd{
    color: #A4D4B4 ;
    margin-left: 65% !important;
}
.fpwd:hover{
    color: white ;
    margin-left: 65% !important;
}
.container {
    font-family: 'Satoshi', sans-serif !important;
    background-image: url("../images/form-signin.png") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;

    color: white !important;
	background-color: #000000;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1100px;
	max-width: 100%;
	min-height: 550px;
}
.form-title{
    color: white !important;
    font-family: 'Merriweather', sans-serif !important;
}
.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
    
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}


.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


.container.right-panel-active .overlay-left {
	transform: translateX(0);
}



.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}


}